.burger-menu-container{
    position: relative;
    
}

.menu-button{
    all: unset;
  }

  .burger-icon{
    width: 30px;
    height: auto;
    cursor: pointer;
  }


  .custom-class {
    margin-bottom: 15px;
   

    .arrow-icon{
        margin-bottom: -5px;
        width: 20px;
        height: auto;
        transition: transform 0.3s ease;

        
    }
  }
  .rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease; /* Добавление плавного перехода */
  }

  .burger-menu {
    position: absolute;
    top: 130%;
    background-color: rgb(196, 194, 194);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    right: 0;
    width: 40vh;
  }
  
  
  
  

  .menu-li{
    list-style: none;
    margin-bottom: 20px;
  }

  .menu-link{
    text-decoration: none;
    display: block;
    color: rgb(0, 0, 0);
    
  }

  .sub-menu{
   margin-bottom: 20px;
  }
  
  

  

  @media screen and (min-width: 561px) {
    .menu-button {
      display: none; 
    }
  }